
@keyframes float {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-10px) rotate(5deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes pulse-slow {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.8;
  }
}

@keyframes draw {
  0% {
    stroke-dashoffset: 1000;
    opacity: 0;
  }
  10% {
    opacity: 0.3;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0.1;
  }
}

@keyframes circle-move {
  0% {
    transform: translate(0, 0);
  }
  33% {
    transform: translate(5%, 10%);
  }
  66% {
    transform: translate(-5%, -5%);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes twinkle {
  0%,
  100% {
    opacity: 0.2;
    transform: scale(1);
  }
  50% {
    opacity: 0.7;
    transform: scale(1.3);
  }
}

.animation-delay-1000 {
  animation-delay: 1000ms;
}
.animation-delay-2000 {
  animation-delay: 2000ms;
}
.animation-delay-3000 {
  animation-delay: 3000ms;
}
.animation-delay-4000 {
  animation-delay: 4000ms;
}

.animate-float {
  animation: float 8s ease-in-out infinite;
}

.animate-pulse-slow {
  animation: pulse-slow 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.animate-draw {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 15s linear infinite;
}

.circle-animation {
  animation: circle-move 20s ease-in-out infinite;
}

.data-points > div {
  animation: twinkle 5s ease-in-out infinite;
}
